<% if (req.flash('info') && (req.flash('info') > 0)) { %>
  <div class="alert alert-info"><%= info %></div>
<% } %>

<% if (req.flash('error') && (req.flash('error') > 0)) { %>
  <div class="alert alert-error"><%= error %></div>
<% } %>