</main>
<footer class="page-footer center-on-small-only">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">about</h5>
                <ul>
                    <li><a href="#!">something</a></li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <div class="col-lg-2 col-md-4 offset-lg-1">
                <h5 class="title">Projects</h5>
                <ul>
                    <li><a href="#!">link</a></li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Resources</h5>
                <ul>
                    <li><a href="#!">A thing</a></li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Connect</h5>
                <ul>
                    <li><a href="#!">Social</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 <a href="http://www.thinger.com">Thinger.com</a>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/tether.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/tether.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>

<script>
    new WOW().init();
</script>

</body>
</html>