<% if (message.length > 0) { %>
    <%= message %>
<% } %>

<form action="/forgot" method="POST">
    <div>
        <label>Email:</label>
        <input type="text" name="email" value="dev@"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>

<br />
<a href="/">home</a>
