<%- include('partials/header'); %>

<form action="/forgot" method="POST">
    <div class="form-group">
        <label>Email:</label>
        <input type="text" name="email" class="form-control" value="dev@"/>
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Email Me</button>
</form>
<%- include('partials/footer'); %>