<%- include('partials/header', {req: req}); %>

hi!  it's a thing!  Here's some stuff you can do:
<br />
<a href="/login">login</a>
<br />
<a href="/signup">sign up</a>
<br />
<a href="/profile">my profile</a>
<br />
<a href="/forgot">forgot password</a>

<%- include('partials/footer'); %>