<% if (message.length > 0) { %>
    <%= message %>
<% } %>

hi!  it's a thing!
<br />
<a href="/login">login</a>
<br />
<a href="/signup">sign up</a>
<br />
<a href="/profile">profile</a>
<br />
<a href="/forgot">forgot</a>