<% include partials/flash %>

<form action="/login" method="POST">
    <div>
        <label>Email:</label>
        <input type="text" name="email" value="dev"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

<br />
<a href="/signup">sign up</a>