<%- include('partials/header'); %>
<div class="container maincontent">

<% if(user) { %>
hi <%= user.name %>!  you're logged in!
<% } %>
<br/>
<a href="/">home</a>
<br/>
<a href="/logout">log out</a>

</div>
<%- include('partials/footer'); %>