<%- include('partials/header'); %>
<div class="container-fluid maincontent">
    <form action="/login" method="POST">
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="form-header btn-git btn-primary">
                            <h3 class="text-uppercase">Sign Up</h3>
                        </div>
                        <div class="md-form">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name">Name</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email">Email</label>
                        </div>
                        <div class="md-form">
                            <input type="password" id="password" name="password" class="form-control">
                            <label for="password">Password</label>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-primary btn-lg">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4 text-left">
                <br />
                <p>Already have an account? <a href="/login">Log in here!</a></p>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </form>
</div>
<%- include('partials/footer'); %>