<%- include('partials/header'); %>
<div class="container-fluid maincontent">
    <form id="signup-form" action="/signup" method="POST">
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="form-header btn-git btn-primary">
                            <h3 class="text-uppercase">Sign Up</h3>
                        </div>
                        <div class="md-form">
                            <input type="text" id="name" name="name" class="form-control" data-validation="length"
                                   data-validation-length="min2" data-validation-error-msg="Please enter a name (at least 2 characters)">
                            <label id="name-label" for="name">Name</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="email" name="email" class="form-control" data-validation="email"
                                   data-validation-error-msg="Please enter a valid email">
                            <label for="email">Email</label>
                        </div>
                        <div class="md-form">
                            <input type="password" id="password" name="password" class="form-control"
                                   data-validation="length" data-validation-length="min4"
                                   data-validation-error-msg="Please enter a password (at least 4 characters)">
                            <label for="password">Password</label>
                        </div>
                        <div class="text-right">
                            <button id="submit-button" class="btn btn-primary btn-lg">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4 text-left">
                <br/>
                <p>Already have an account? <a href="/login">Log in here!</a></p>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </form>
</div>
<script>
    $.validate({
        validateOnBlur: true,
        errorMessagePosition: 'inline',
        scrollToTopOnError: false,
        showHelpOnFocus: false,
        addSuggestions: false
    });
</script>
<%- include('partials/footer'); %>